<head>
	<meta charset="utf-8">
	<title>Zoro Zoraï</title>
	<meta name="description" content="Zoro Zoraï est un clown né des larmes invisibles du monde des humains. Par la sincérité et l'aveu de la bêtise, le céleste apparaît à nouveau sur scène. L'association TeDua est la maison de Z0r0.">
	{{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
