<head>
	<meta charset="utf-8">
	<title>Zoro Zoraï</title>
	<meta name="description" content="Z0r0 Zoraï est un clown né des larmes invisibles du monde des humains. En étant sur scène, il vit puis avoue la bêtise de vouloir l'attention sur soi, et cette sincérité laisse rayonner le céleste présent en chacun de nous. L'association TeDua, basée près de Bordeaux, est la maison de Z0r0.">
	{{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
